Sreenanda S/Random Joke Generator.json
{
  "name": "Random Joke Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5a41434d-5915-4c70-9eb8-cd69f5b45e51",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://official-joke-api.appspot.com/random_joke",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "ce2c7c35-a789-4fed-a8b7-d20c5ef2fc6b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f61f86e-5b1b-4263-8866-e4210a235e7a",
              "name": "setup",
              "value": "={{$json.setup}}",
              "type": "string"
            },
            {
              "id": "06ee0664-6e0a-4816-b88c-9acf84e414c4",
              "name": "punchline",
              "value": "={{$json.punchline}}",
              "type": "string"
            },
            {
              "id": "a9ae511f-f63e-4577-b973-bd31edc6e875",
              "name": "timestamp",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "a5a13d88-37c8-4f9c-8e49-fb4525faae4e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "sreenandas88@gmail.com",
        "subject": "=Random Joke - {{$now}}",
        "message": "=<h2>Random Joke Generator</h2>  <p><strong>Setup:</strong></p> <p>{{$json.setup}}</p>  <p><strong>Punchline:</strong></p> <p>{{$json.punchline}}</p>  <hr>  <p>Generated at:</p> <p>{{$json.timestamp}}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "3a23b053-4f98-4766-94e5-de4a35b74f0c",
      "name": "Send a message",
      "webhookId": "6773ea89-03e9-4c89-8683-51e26abebc6d",
      "credentials": {
        "gmailOAuth2": {
          "id": "6q0sEYu02hslbNM1",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8b41975b-c0b8-48f9-9ce0-382095c3f1db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1bbfdaba0d6488328f61cb81d0c9ea15133e1fdcb72fe45e103bc802e42d6b0"
  },
  "nodeGroups": [],
  "id": "aveOBcufdHcR0km7",
  "tags": []
}